.css_id_det_label {text-align: right;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: right;}
.css_cpf_det_label {text-align: right;vertical-align: middle;}
.css_cpf_det_line {height:0px;text-align: right;}
.css_nome_compl_det_label {text-align: right;vertical-align: middle;}
.css_nome_compl_det_line {height:0px;text-align: right;}
.css_email_det_label {text-align: right;vertical-align: middle;}
.css_email_det_line {height:0px;text-align: right;}
.css_celular_det_label {text-align: right;vertical-align: middle;}
.css_celular_det_line {height:0px;text-align: right;}
.css_finalidade_det_label {text-align: right;vertical-align: middle;}
.css_finalidade_det_line {height:0px;text-align: right;}
