.css_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_cpf_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cpf_grid_line {vertical-align: top;text-align: left;}
.css_nome_compl_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nome_compl_grid_line {vertical-align: top;text-align: left;}
.css_email_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_email_grid_line {vertical-align: top;text-align: left;}
.css_celular_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_celular_grid_line {vertical-align: top;text-align: left;}
.css_finalidade_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_finalidade_grid_line {vertical-align: top;text-align: left;}
