.css_id_det_label {text-align: right;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: right;}
.css_taxajurosmensal_det_label {text-align: right;vertical-align: middle;}
.css_taxajurosmensal_det_line {height:0px;text-align: right;}
.css_valorsolicitado_det_label {text-align: right;vertical-align: middle;}
.css_valorsolicitado_det_line {height:0px;text-align: right;}
.css_qteparcelas_det_label {text-align: right;vertical-align: middle;}
.css_qteparcelas_det_line {height:0px;text-align: right;}
.css_dataprimeiraparcela_det_label {text-align: right;vertical-align: middle;}
.css_dataprimeiraparcela_det_line {height:0px;text-align: right;}
.css_tarifacadastro_det_label {text-align: right;vertical-align: middle;}
.css_tarifacadastro_det_line {height:0px;text-align: right;}
.css_valorparcela_det_label {text-align: right;vertical-align: middle;}
.css_valorparcela_det_line {height:0px;text-align: right;}
.css_finalidade_det_label {text-align: right;vertical-align: middle;}
.css_finalidade_det_line {height:0px;text-align: right;}
.css_user_id_det_label {text-align: right;vertical-align: middle;}
.css_user_id_det_line {height:0px;text-align: right;}
.css_created_at_det_label {text-align: right;vertical-align: middle;}
.css_created_at_det_line {height:0px;text-align: right;}
.css_updated_at_det_label {text-align: right;vertical-align: middle;}
.css_updated_at_det_line {height:0px;text-align: right;}
