.css_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_valorsolicitado_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_valorsolicitado_grid_line {vertical-align: top;text-align: left;}
.css_finalidade_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_finalidade_grid_line {vertical-align: top;text-align: left;}
.css_qteparcelas_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_qteparcelas_grid_line {vertical-align: top;text-align: left;}
.css_dataprimeiraparcela_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_dataprimeiraparcela_grid_line {vertical-align: top;text-align: left;}
.css_valorparcela_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_valorparcela_grid_line {vertical-align: top;text-align: left;}
.css_taxajurosmensal_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_taxajurosmensal_grid_line {vertical-align: top;text-align: left;}
.css_tarifacadastro_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tarifacadastro_grid_line {vertical-align: top;text-align: left;}
.css_user_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_user_id_grid_line {vertical-align: top;text-align: right;}
.css_created_at_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_created_at_grid_line {vertical-align: top;text-align: center;}
