.css_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_nr_pedido_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nr_pedido_grid_line {vertical-align: top;text-align: left;}
.css_nro_proc_bco_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nro_proc_bco_grid_line {vertical-align: top;text-align: left;}
.css_cpf_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cpf_grid_line {vertical-align: top;text-align: left;}
.css_banco_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_banco_grid_line {vertical-align: top;text-align: left;}
.css_agencia_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_agencia_grid_line {vertical-align: top;text-align: left;}
.css_dig_ag_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_dig_ag_grid_line {vertical-align: top;text-align: left;}
.css_conta_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_conta_grid_line {vertical-align: top;text-align: left;}
.css_dig_conta_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_dig_conta_grid_line {vertical-align: top;text-align: left;}
.css_tipo_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_tipo_grid_line {vertical-align: top;text-align: left;}
.css_conta_desde_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_conta_desde_grid_line {vertical-align: top;text-align: left;}
.css_id_cadastro_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_id_cadastro_grid_line {vertical-align: top;text-align: left;}
.css_created_at_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_created_at_grid_line {vertical-align: top;text-align: center;}
