.css_id_det_label {text-align: right;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: right;}
.css_nr_pedido_det_label {text-align: right;vertical-align: middle;}
.css_nr_pedido_det_line {height:0px;text-align: right;}
.css_nro_proc_bco_det_label {text-align: right;vertical-align: middle;}
.css_nro_proc_bco_det_line {height:0px;text-align: right;}
.css_cpf_det_label {text-align: right;vertical-align: middle;}
.css_cpf_det_line {height:0px;text-align: right;}
.css_banco_det_label {text-align: right;vertical-align: middle;}
.css_banco_det_line {height:0px;text-align: right;}
.css_agencia_det_label {text-align: right;vertical-align: middle;}
.css_agencia_det_line {height:0px;text-align: right;}
.css_dig_ag_det_label {text-align: right;vertical-align: middle;}
.css_dig_ag_det_line {height:0px;text-align: right;}
.css_conta_det_label {text-align: right;vertical-align: middle;}
.css_conta_det_line {height:0px;text-align: right;}
.css_dig_conta_det_label {text-align: right;vertical-align: middle;}
.css_dig_conta_det_line {height:0px;text-align: right;}
.css_tipo_det_label {text-align: right;vertical-align: middle;}
.css_tipo_det_line {height:0px;text-align: right;}
.css_conta_desde_det_label {text-align: right;vertical-align: middle;}
.css_conta_desde_det_line {height:0px;text-align: right;}
.css_id_cadastro_det_label {text-align: right;vertical-align: middle;}
.css_id_cadastro_det_line {height:0px;text-align: right;}
.css_created_at_det_label {text-align: right;vertical-align: middle;}
.css_created_at_det_line {height:0px;text-align: right;}
.css_updated_at_det_label {text-align: right;vertical-align: middle;}
.css_updated_at_det_line {height:0px;text-align: right;}
