.css_id_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_grid_line {vertical-align: top;text-align: right;}
.css_email_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_email_grid_line {vertical-align: top;text-align: right;}
.css_password_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_password_grid_line {vertical-align: top;text-align: right;}
.css_permissao_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_permissao_grid_line {vertical-align: top;text-align: right;}
.css_cpf_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_cpf_grid_line {vertical-align: top;text-align: right;}
.css_remember_token_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_remember_token_grid_line {vertical-align: top;text-align: right;}
