.css_id_det_label {text-align: left;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: left;}
.css_email_det_label {text-align: left;vertical-align: middle;}
.css_email_det_line {height:0px;text-align: left;}
.css_password_det_label {text-align: left;vertical-align: middle;}
.css_password_det_line {height:0px;text-align: left;}
.css_permissao_det_label {text-align: left;vertical-align: middle;}
.css_permissao_det_line {height:0px;text-align: left;}
.css_cpf_det_label {text-align: left;vertical-align: middle;}
.css_cpf_det_line {height:0px;text-align: left;}
.css_remember_token_det_label {text-align: left;vertical-align: middle;}
.css_remember_token_det_line {height:0px;text-align: left;}
.css_created_at_det_label {text-align: left;vertical-align: middle;}
.css_created_at_det_line {height:0px;text-align: left;}
.css_updated_at_det_label {text-align: left;vertical-align: middle;}
.css_updated_at_det_line {height:0px;text-align: left;}
