.css_id_det_label {text-align: right;vertical-align: middle;}
.css_id_det_line {height:0px;text-align: right;}
.css_email_det_label {text-align: right;vertical-align: middle;}
.css_email_det_line {height:0px;text-align: right;}
.css_password_det_label {text-align: right;vertical-align: middle;}
.css_password_det_line {height:0px;text-align: right;}
.css_permissao_det_label {text-align: right;vertical-align: middle;}
.css_permissao_det_line {height:0px;text-align: right;}
.css_cpf_det_label {text-align: right;vertical-align: middle;}
.css_cpf_det_line {height:0px;text-align: right;}
.css_status_det_label {text-align: right;vertical-align: middle;}
.css_status_det_line {height:0px;text-align: right;}
.css_confirmation_code_det_label {text-align: right;vertical-align: middle;}
.css_confirmation_code_det_line {height:0px;text-align: right;}
.css_remember_token_det_label {text-align: right;vertical-align: middle;}
.css_remember_token_det_line {height:0px;text-align: right;}
.css_termos_contrato_det_label {text-align: right;vertical-align: middle;}
.css_termos_contrato_det_line {height:0px;text-align: right;}
.css_status_analise_det_label {text-align: right;vertical-align: middle;}
.css_status_analise_det_line {height:0px;text-align: right;}
.css_created_at_det_label {text-align: right;vertical-align: middle;}
.css_created_at_det_line {height:0px;text-align: right;}
.css_updated_at_det_label {text-align: right;vertical-align: middle;}
.css_updated_at_det_line {height:0px;text-align: right;}
